@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
:root {
  --dark: #1d1818;
  --black: #000000;
  --blue: #384685;
  --white: #ffffff;
  --red: #e13b3f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
body {
  font-family: 'PT Sans', sans-serif;
  min-width: 1920px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--black);
}
.container {
  max-width: 1520px;
  margin: 0 auto;
}
.wrapper {
  padding: 0 10px;
}
.header {
  padding: 17px 0 14px;
}
.header-top {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}
.header-top__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header-top__item {
  display: flex;
  align-items: flex-end;
}
.header-top__location {
  margin-right: 35px;
}
.header-top__list {
  display: flex;
  gap: 38px;
}
.header-top__link:hover {
  color: var(--blue);
  transition: 0.3s;
}
.header-inner__inner {
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adress__link {
  color: var(--red);
  text-decoration: underline;
}
.search {
  border: 1px solid #a8d1e7;
  border-radius: 25px;
  width: 296px;
  height: 45px;
}
.search label {
  display: flex;
  padding: 12px 12px 18px 24px;
}
.search input {
  border: none;
  width: 100%;
  outline: none;
  margin-right: 8px;
  font-size: 16px;
  line-height: 21px;
  color: #626262;
}
.phone__link {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: var(--dark);
  display: block;
  margin-bottom: 10px;
}
.phone__button {
  border: 1px solid var(--red);
  border-radius: 5px;
  width: 177px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--red);
  background-color: var(--white);
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.buttons__item svg {
  display: block;
  margin: 0 auto;
}
.buttons__item:hover svg path {
  fill: var(--red);
  transition: 0.3s;
}
.buttons__item:hover {
  color: var(--red);
  transition: 0.3s;
}
.favourites {
  display: flex;
  align-items: center;
  gap: 14px;
}
.favourites span {
  height: 19px;
  width: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background: var(--red);
  border-radius: 7px;
  line-height: 18px;
  font-size: 14px;
}
.header-nav {
  background: #a8d1e7;
}
.header-nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.header-nav__item:hover {
  color: #999999;
  transition: 0.3s;
}
.header-nav__item {
  padding: 18px 18px 22px;
}
.header-nav__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.header-nav__item:last-child {
  background: #384685;
  border-radius: 5px;
  color: var(--white);
}
.drop {
  background: #ffffff;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 10;
  position: absolute;
  width: 217px;
  top: 200px;
  left: 790px;
}
.drop__item {
  padding: 10px 30px;
}
.drop__item:last-child {
  padding-bottom: 20px;
}
.drop__link {
  color: var(--dark);
}
.drop__item:hover {
  background: #f4f4f4;
  transition: 0.3s;
}
main {
  padding: 42px 0 70px;
}
.main__decor {
  background: #c4c4c4;
  border-radius: 10px;
  width: 1520px;
  height: 387px;
}
